<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Introduce</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->

	</head>
	<body class="homepage">
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container">
					<!-- Nav -->
					<nav id="nav" >
						<ul style = "margin-top:220px" class="drop-down-menu">
					        <li><a href="homepage.html">首頁</a></li>
					        <li><a href="introduce.html">簡介</a></li>
					        <li><a href="newbie.html">新手須知</a></li>
					        <li><a href="photo.html">圖鑑</a></li>
					        <li><a href="link.html">其他連結</a></li>       
						</ul>
						
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			<div id="page2" >
				<div class="container">
					<div class="row">
						<div class="5u -2u skel-cell-important">
							<section id="content" >
								
							<section id="box3">
								<header style="margin-top: 2em">
									<h2>新手需要注意什麼？</h2>		
									<ul style="margin-top: 1em;margin-left: 1em">
										<li ><a href="buy.html">
          <img src="images/newbie/選購Iicon.png" width="210px" height="70px" onMouseOver="this.width=this.width*1.1;this.height=this.height*1.1" onMouseOut="this.width=this.width/1.1;this.height=this.height/1.1" ></a></li>
										<li><a href="繁殖.html">
          <img src="images/newbie/繁殖Iicon.png" width="210px" height="70px" onMouseOver="this.width=this.width*1.1;this.height=this.height*1.1" onMouseOut="this.width=this.width/1.1;this.height=this.height/1.1" >  <br>
        </a></li>
										<li><a href="sun.html">
          <img src="images/newbie/日照與澆水Iicon.png" width="180px" height="70px" onMouseOver="this.width=this.width*1.1;this.height=this.height*1.1" onMouseOut="this.width=this.width/1.1;this.height=this.height/1.1" >  <br>
        </a></li>
										<li><a href="soil.html">
          <img src="images/newbie/土壤Iicon.png" width="210px" height="70px" onMouseOver="this.width=this.width*1.1;this.height=this.height*1.1" onMouseOut="this.width=this.width/1.1;this.height=this.height/1.1" ><br>
        </a></li>
									</ul>
								</header>
							</section>
						</div>
						<div class="5u skel-cell-important">
					        <div><img src="./images/新手須知-右邊圖2.png" style="hight:100%"></div>  
						</div>
					</div>
				</div>	
			</div>

			<!-- Footer -->
			
			<div id="footer" >
			
			</div>

			
		</div>
	</body>
</html>