<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>錦上珠圖鑑詳細資料</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-panels.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<style>
	#header
	{
		position: relative;
		margin-bottom: 1em 0em;
		text-align: center;
		background: url({% static 'images/upper-w.png' %}) no-repeat center;
		background-size: auto;
	}

	</style>
	<body class="homepage">
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<div class="container">
					<!-- Nav -->
					<nav id="nav" >
						<ul style = "margin-top:220px" class="drop-down-menu">
					        <li><a href="/homepage/">首頁</a></li>
					        <li><a href="/introduce/">簡介</a></li>
					        <li><a href="/newbie/">新手須知</a></li>
					        <li><a href="/photo/">圖鑑</a></li>
					        <li><a href="/link/">其他連結</a></li>       
						</ul>
						
					</nav>
				</div>
			</div>
			<!-- /Header -->
			
			
				
					<div><img src="{% static 'images/photo-imfo/錦上珠圖鑑詳細資料.png' %}"  width="100%"></div>


					
			

			<!-- Footer -->
			
			<div id="footer">
			From Wikipedia
			</div>

			
		</div>
	</body>
</html>